# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/

# Database
*.accdb
*.mdb
*.laccdb

# Environment
.env
.env.local

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# RSLogix
*.Sem
*.Wrk
*.L5K
*.ACD
MCP3_*
